.body {
    background-color: #f5f7fa;
    position: absolute;
    width: 1445px;
    height: 4706px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    padding-top: 20px;
    }
    
    /* Menu */
    
    .menutext1 {
    text-align: center;
    position: absolute;
    left: 33.03%;
    right: 63.16%;
    top: 0.49%;
    bottom: 99.03%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #070707;
    padding-top: 20px
    }
    
    .menutext2 {
    text-align: center;
    position: absolute;
    left: 39.68%;
    right: 54.63%;
    top: 0.49%;
    bottom: 99.03%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #828282;
    padding-top: 20px
    }
    
    .menutext3 {
    position: absolute;
    left: 48.18%;
    right: 48.9%;
    top: 0.49%;
    bottom: 99.03%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #828282;
    padding-top: 20px
    }
    
    .menutext4 {
    position: absolute;
    left: 53.93%;
    right: 40.46%;
    top: 0.49%;
    bottom: 99.22%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #828282; 
    padding-top: 20px   
    }
    
    .menutext5 {
    position: absolute;
    left: 61.89%;
    right: 32.76%;
    top: 0.49%;
    bottom: 99.03%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #828282;
    padding-top: 20px
    }
    
    /* Main */
    
    main {
    text-align: center;
    padding-top: 76px; 
    }
    
    h1 {
    position: absolute;
    left: 27%;
    right: 49%;
    top: 4%;
    bottom: 96.32%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 47.3392px;
    line-height: 64px;
    color: #070707;
    }
    
    .photo {
        padding-top: 40px;
        padding-bottom: 100px;
    }
    
    /* Description */
    
    .generaldeskription {
    padding-top: 100px;
    background: #F6F6F6;
    text-align: center;
    }
    
    h2 {
    font-size: 34px;
    color: #070707;
    }
    
    .gendes1,
    .gendes2,
    .gendes3,
    .genskillsp,
    .genportfoliopar,
    .contacts-par {
    padding-top: 30px;
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 18px;
    text-align: center;
    color: #070707;
    line-height: 1.2;
    }
    
    .gendes3 {
    padding-bottom: 100px;
    }
    
    /* Skills */
    
    .skills {
    max-width: 940px;
    height: 517px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    }
    
    figure {
    
    display: inline-block;
    font-family: 'Gilroy-Bold';
    font-size: 14px;
    line-height: 3em;
    padding-top: 23px;
    padding-bottom: 83px; 
    }
    
    .mainicon {
    padding-bottom: 25px;  
    }
    
    .figure-par {
    font-family: 'Gilroy-Bold';
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
    }
    
    /* Portfolio */
    
    .portfolio {
    background: #F6F6F6;
    padding-bottom: 100px;
    padding-top: 80px;
    }
    
    .gen-portfolio-par {
    line-height: 1.39;
    text-decoration-line: underline;
    padding-top: 10px;
    padding-bottom: 80px; 
    text-align: center;  
    }
    
    .potfolio-icon {
    width: 936.24px;
    height: 510px;
    left: 254px;
    top: 2025px;
    }
    
    /* Social */
    
    .social-button {
    width: 180px;
    height: 42px;
    color: white;
    background-color: #070707;
    border-radius: 80px;
    font-size: 18px;
    line-height: 1.39; 
    }
    
    /* Footer */
    
    .footer-par {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #828282;
    }
    
    .footer-icon {
    padding-left: 200px;
    padding-right: 90px;
    }